html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
}

svg#e {
    position: fixed;
}

div#fieldsets {
    position: absolute;
    width: 450px;
    right: 0;
}
